<HTML>
<HEAD>
<script language="JavaScript">
    function login(){
    document.Login.submit();
    }
</script>
<TITLE>Rockstand</TITLE>


</HEAD>
 <body>
<form name="Login" method="post" action="/login/">
    {%csrf_token%}
    {{message}}
    <font color="ff0000">{{msg}}</font>
		<table cellpadding="8" spellcheck="4">
			<tr>
				<td>User Name</td>
				<td><input type="text" value="" name="UserName" style="padding:5px; width:380px"> </td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" value="" name="Password" style="padding:5px; width:380px"></td>
			</tr>
			<tr>
				<td> </td>
                <td><input type="submit" value="Submit" style="padding:3px 10px; font-size:15px;" name="Submit" onclick="javascript:login();"></td>
            </tr>
		</table>


    </form>


    </div>
</body>
</HTML>
